lombok.copyableAnnotations += net.rahka.chess.configuration.Configurable
lombok.copyableAnnotations += net.rahka.chess.configuration.ConfigurableInt
lombok.copyableAnnotations += net.rahka.chess.configuration.ConfigurableFloatingPoint
lombok.copyableAnnotations += net.rahka.chess.configuration.ConfigurableBoolean
lombok.copyableAnnotations += net.rahka.chess.configuration.ConfigurableString